/*GENERAL APPLY TO ALL*/
body{
  font-size: 16px;
}

h2{
  font-size: 2em;
  color:black;
}

.full-width{
width: 100vw;
 position: relative;
 margin-left: -50vw;
 left: 50%;
}

.area-spacing{
  padding-top: 50px;
  padding-bottom: 50px;

}

:root {
  --green-color: #5b5d48;
  --gray-color:#74757a;
}

.btn-lg.round {
  border-radius: 24px;
  background-color: var(--green-color);
  color:white;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.5em;
  width:250px;
  height:2.5em;
  margin: 1em;
}

/*HEADER SECTION*/
.header{
  background-image: url("https://via.placeholder.com/900x450");
  background-color: #cccccc;
  background-repeat: no-repeat;
  height:450px;
  background-position: center;
  background-size: cover;
}

.header h1{
  text-align: center;
  vertical-align: middle;
  line-height:450px;
  color:white;
}

/*HEADER SECTION MEDIA QUERIES*/
@media screen and (max-width: 600px) {
  .header{
    height: 400px;
  }

  .header h1{
    font-size: 2rem;
    line-height:400px;
  }
}

@media screen and (max-width: 400px) {
  .header{
    height: 350px;
  }

  .header h1{
    font-size: 1.5rem;
    line-height:350px;
  }
}

/*MISSION SECTION*/
.mission{
  display: flex;
  flex-direction:column;
  justify-content:center;
}
.mission-text{
  width: 100%;
}
.mission img{
  width: 100%;
  margin-left: -50px;
}

.mission p{
  color: var(--gray-color);
}

.mission h2{
  font-size: 1.5em;
}

/*MISSION SECTION MEDIA QUERIES*/
@media screen and (min-width: 900px) {
  .mission{
  display: flex;
  flex-direction:row;
  justify-content:center;
}

  .mission-text{
    order:1;
    padding-bottom: 1em;
  }
  .mission img{
    order:0;
  }
}
@media screen and (max-width: 900px) {
  .mission img{
   width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 100px;
  left: 50%;
  margin-bottom: -100px;
  }
}

/*FORM SECTION*/
.volunteer-signup{
  background-color: var( --green-color);
  color:white;
  display: flex;
  flex-direction: row;
  align-items:center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.form{
  background-color: white;
  color:var( --gray-color);
  text-align: left;
  padding: 2em;
  display: flex;
  flex-direction:column;
  justify-content:center;
}

.formText h2{
  color:white;
  text-align: center;
}

.form h2{
  text-align: center;
}


/*FORM SECTION MEDIA QUERIES*/
@media screen and (max-width: 750px) {
  .volunteer-signup{
  display: flex;
  flex-wrap:wrap;
  height:auto;
  }
  .formText {
  vertical-align: none;
  line-height: 1.5em;
  }
}

/*VOLUNTEER OPTIONS*/
.options{
  background-color: var(--green-color);
  padding: 1em 0.5em;
  display: flex;
  flex-direction:column;
}

.info-section{
  background-color: white;
  margin: 1em 0em;
  display: flex;
  color: var(--gray-color);
  width: 100px;
}

.info-section h2{
  font-size: 1.5em;
}


.info-section a{
  text-decoration: none;
}

.info-text{
  padding: 1.5em 1.5em 0 1.5em;
}

.info-section img{
  max-width: 100%;
  height: auto;
  margin-right:-15px;
}

/*VOLUNTEER OPTIONS MEDIA QUERIES*/

@media screen and (max-width: 600px) {
.info-section img{
  display: none;
  }
}


/*FOOTER SECTION*/

footer{
  background-color: #2f2f2f;
  margin:0px;
  padding: 0;
  text-align: center;
  font-size: 0.75em;
}
ul{
   list-style: none;
   width: 100%;
   margin: auto;
   padding-top: 1.5em;
   display: flex;
   flex-wrap:nowrap;
}

ul li{
  display: inline-block;
  color:white;
  padding: 0.5em;
}

li a{
  text-decoration: none;
  color:white;
  font-weight: lighter;

}

hr{
  width:85%;
  background-color: var(--gray-color);
}

.footer-logos{
  display: flex;
  flexwrap: nowrap;
  justify-content:space-between;
  padding-bottom:2em;
}

/*FOOTER MEDIA QUERIES*/










