/*GENERAL APPLY TO ALL*/
body{
  font-size: 16px;
}

h2{
  font-size: 2em;
  color:black;
}

.full-width{
width: 100vw;
 position: relative;
 margin-left: -50vw;
 margin-top: 100px;
 left: 50%;
}

:root {
  --green-color: #5b5d48;
  --gray-color:#74757a;
}

/*MISSION SECTION*/
.mission{
  display: flex;
  flex-direction:column;
  justify-content:center;
}
.mission-text{
  width: 100%;
}
.mission img{
  width: 100%;
}

.mission p{
  color: var(--gray-color);
}

.mission h2{
  font-size: 1.5em;
}

/*MISSION SECTION MEDIA QUERIES*/
@media screen and (min-width: 900px) {
  .mission{
  display: flex;
  flex-direction:row;
  justify-content:center;
}

  .mission-text{
    width:50%;
    order:1;
  }
  .mission img{
    width:50%;
    order:0;
  }
}


/*VOLUNTEER OPTIONS*/
.options{
  background-color: var(--green-color);
  padding: 1em 0.5em;
  margin-bottom:-100px;
}

.info-section{
  background-color: white;
  margin: 1em 0em;
  display: flex;
  color: var(--gray-color);
}

.info-section h2{
  font-size: 1.5em;
}


.info-section a{
  background-color: var(--green-color);
  color:white;
  width:250px;
  border-radius: 10%;
  margin: 1em
}

.info-section img{
  max-width: 100%;
  height: auto;
  margin-right:-15px;
}

/*FOOTER SECTION*/

footer{
  background-color: #2f2f2f;
  margin:0px;
  padding: 0;
  text-align: center;
  font-size: 0.75em;
}
ul{
   list-style: none;
   width: 100%;
   margin: auto;
   padding-top: 1.5em;
   display: flex;
   flex-wrap:nowrap;
}

ul li{
  display: inline-block;
  color:white;
  padding: 0.5em;
}

li a{
  text-decoration: none;
  color:white;
  font-weight: lighter;

}

hr{
  width:85%;
  background-color: var(--gray-color);
}

.footer-logos{
  display: flex;
  flexwrap: nowrap;
  justify-content:space-between;
  padding-bottom:2em;
}

/*FOOTER MEDIA QUERIES*/










